body{
    background-color: brown;
}
.navbar{
    text-decoration: none;
    background-color: black;
    font-size: largesa;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 17px 12px 16px 22px;
}
a{
    padding: 50px 12px;
    color: blueviolet;
    text-decoration: none;
}
a:hover{
    color: forestgreen;
    background-color: gold;

}


    
    
