h2{
    color: chocolate;
}
.chibby{
    color: blue;
}
a{
    color: blueviolet;
}
.dudu{
    color: pink;
}
div{
    background-color: aquamarine; background-color: hotpink;
}
.milo{
    color: brown; background-color: green;
}
body{
    color: lawngreen; background-color: brown;
}
h1{
    color: olive; background-color: lightsalmon
    ;
}
b{
    color: black; background-color: darkviolet;
}
table{
    color: blueviolet;background-color: honeydew;
}
