div{
    background-image: co;
    background-color: burlywood ; width: 700px;
    margin-left: 450px;
}
.leo{
    text-align: center;
}
.ode{
    text-align: center;
    font-size: 80px;
}
.titi{
    text-align: center;
    
}
body{
    color: brown;
    background-image: url(corn.jpg);
    background-repeat:;
    background-position:center ;

}
.nic{
    text-align: center;
}
hr{
    color: brown;
}

.silver{
    margin-left: 450px;
}
.doll{
    text-align: center;
}
.lisa{
    text-align: center;
}
.nice{
    text-align: center;  
}
hr{
    color: brown;
}